<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Index page</title>
</head>
<body>
  <nav>
    <ul>
      <!-- <li></li>
      <li></li>
      <li></li>
      <li></li> -->
    </ul>
  </nav>
  <div ng-view></div>
  <footer>
    <div>
      <!-- <a href="https://nodejs.org">
        <img src="http://i0.wp.com/www.curotec.com/wp-content/uploads/2015/05/Curotec-Banner-NodeJS.jpg?zoom=2&resize=690%2C111">
      </a> -->
      <strong>Application created<br/>
        in Node.js</strong>
    </div>
  </footer>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="js/config/app.js"></script>
  <script type="text/javascript" src="js/config/routes.js"></script>
  <script type="text/javascript" src="js/controllers/mainCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/videoCtrl.js"></script>
  <script type="text/javascript" src="/js/directives/refDirective.js"></script>
  <script type="text/javascript" src="js/trigger.js"></script>
</body>
</html>