<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Index page</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <iframe class='nko' src="http://nodeknockout.com/iframe/5-ways-to-get-a-call" frameborder=0 scrolling=no allowtransparency=true width=130 height=25></iframe>
  <div ng-view>
  </div>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="js/config/app.js"></script>
  <script type="text/javascript" src="js/config/routes.js"></script>
  <script type="text/javascript" src="js/controllers/mainCtrl.js"></script>
  <script type="text/javascript" src="js/controllers/videoCtrl.js"></script>
  <script type="text/javascript" src="/js/directives/refDirective.js"></script>
  <script type="text/javascript" src="js/trigger.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
</body>
</html>